*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url(images/retrosupply-jLwVAUtLOAQ-unsplash.jpg) center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.348);
    padding: 6.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #000;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input[type="date"] {
    padding: 0.5rem;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #555;
}

#result {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #000;
    background: rgba(36, 35, 35, 0.263);
    padding: 1rem;
    border-radius: 5px;
    display: none;
}

#result.visible {
    display: block;
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.374);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}